{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

Thinking about signing a lease in NYC? Enter the details below to find out how much the apartment is worth!
<br><br>
<div style="display:flex;flex-direction:row;">
    <form method="POST" action="/">
        {{ render_field(form.address) }}
        {{ render_field(form.bedrooms) }}
        {{ render_field(form.bathrooms) }}
        {{ render_field(form.housing_type) }}
        {{ render_field(form.laundry) }}
        {{ render_field(form.parking) }}
        <br>
        {{ render_field(form.cats_ok) }}
        {{ render_field(form.dogs_ok) }}
        <br>
        {{ render_field(form.is_furnished) }}
        {{ render_field(form.no_smoking) }}
        {{ render_field(form.wheelchair_acccess) }}
        {{ render_field(form.ev_charging) }}
        <br>
        <div style="display:flex;justify-content: center;align-items:center;">{{ form.submit }}</div>
    </form>
    {% if estimate %}
    <div style="display:flex;flex-direction:column;align-items:center;justify-content:center">
        <div style="font-size:120%"><b>The market listing price for this apartment is
                {{ "$%.2f"|format(estimate) }}/month.</b>
        </div>
        <br>
        <div style="width:400px;font-size:80%">This is the rent you should expect a landlord to list this apartment for.
            You can negotiate for a lower rent, but you probably shouldn't end up paying any more than this amount for
            this apartment.
        </div>
        <br>
        <table style="width:400px">
            <colgroup>
                <col span="1" style="width: 80%" />
                <col span="1" style="width: 20%" />
            </colgroup>
            <tr style="font-size:120%">
                <td><b>Explanation</b></td>
            </tr>
            {% for i in explanation %}
            <tr>
                <td>{{ i[0] }}</td>
                <td align="right">
                    {% if "Base" in i[0]%}
                    {{ "$%.2f"|format(i[1]) }}
                    {% else %}
                    {{ "$%+.2f"|format(i[1]) }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr style="font-size:120%">
                <td style="border-top:2px solid black"><b>Total Listing Price</b></td>
                <td style="border-top:2px solid black" align="right"><b>{{ "$%.2f"|format(estimate) }}</b></td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}